body {
    padding-top: 70px;
  }
  @media (max-width: 991px) {
    body {
      padding-top: 215px;
    }
    #cardBody {
      height: 320px;
    }
  }

#navBar {
  background-color: #e0e0e0;
}

#jumboTron {
  height: 400px;
  color: white;
  text-align: center;
  background-size: cover;
  background-image: url(../assets/bg.webp);
}

.hidden {
  visibility: hidden;
}

#cardImg {
  height: 250px;
  object-fit: cover;
}

#cardBody {
  margin-top: 10px;
}

#download {
  display: flex;
  align-items: center;
  height: 450px;
}

#contact {
  height: 350px;
}


footer {
  position: absolute;
  width: 100%;
  height: 600px !important;
  background-color: #424242;
}

footer a{
  text-decoration: none;
}

footer a:hover {
  color: #00A8A8 !important;
}


#creden {
  position: absolute;
  bottom: 25px;
  font-size: 1.3em !important;
}